/*
colores
color azul logo = #005098
color azul flojo logo = #00a7df
color azul footer = #8FBAD8
*/
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
  margin: 0;
}

/*LISTA HEADER*/
/*PARA MOVIL*/
@media screen and (max-width: 768px) {
  #menu {
    position: absolute;
    width: 100%; /* Cambia 300px a 100% */
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
  
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;

  }

  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    left: 50%;
    transform: translateX(-50%);
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
  }
}


/*PARA PC*/
@media screen and (min-width: 768px) {
  #menuToggle input[type="checkbox"] {
    display: none;
  }

  h1 {
    font-size:280%;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 10px 40px;
    position: relative;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1.1em;
  }
  
  nav li:hover {
    color: #005098;
  }
  
  nav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 5px;
    display: none;
    width: 250px;
    z-index: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  
  nav li:hover ul {
    display: block;
  }
  
  nav li ul li {
    font-weight: normal;
    margin: 5px 0;
    font-size: 1em;
    white-space: nowrap;
  }
  
  nav li ul li:hover {
    color: #005098;
  }

}


/*TEXTO CON IMAGEN BODY*/
main {
  color: black;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
}

footer {
  background-color: #8fbad8;
  color: black;
  padding: 20px;
  text-align: center;

}

.contenedor {
  background-image: url("Img/imgFondoBlog.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
  z-index: -1;
  filter: brightness(0.6);
}

/*-------------------     CARTAS VIAJES    -------------------*/

@media (min-width: 768px) {

  .ptitulo {
    font-size: 2em;
    text-align: center;
    color: black;
    text-decoration: solid;
  }
  
  .pinfo {
    font-size: 0.9em;
    text-align: center;
    color: black;
    text-decoration: solid;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    border-radius: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0px 16px 16px 16px;
    margin-top: auto;
    text-align: center;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .card .container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
  }
  
  .card .container h3 {
    margin: 0;
    padding: 10px;
  }

}


@media (max-width: 768px) {
  .ptitulo {
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-decoration: solid;
  }

  .pinfo {
    font-size: 0.8em;
    text-align: center;
    color: black;
    text-decoration: solid;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    border-radius: 20px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0px 16px 16px 16px;
    margin-top: auto;
    text-align: center;
  }

  .card .container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
  }
}




/*FOOTER*/

/*-------------------     HORARIO    -------------------*/
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 6px;
  text-align: center;
}

td:first-child {
  font-weight: bold;
}

/*-------------------     HORARIO    -------------------*/
.columna {
  flex: 1;
  margin: 0 10px;
}

.columnas {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

/*-------------------     CONTACTOS    -------------------*/
.contactos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.contacto {
  margin-right: 10px;
}