body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

footer {
  background-color: #8fbad8;
  color: black;
  padding: 20px;
  text-align: center;
}

/*HEADER*/
.nonestyle{
  text-decoration: none;
}

h1 {
  color: black;
  margin: 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: black;
  text-decoration: none;
}

/*FOOTER*/

/*-------------------     HORARIO    -------------------*/
table {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 6px;
	text-align: center;
}

td:first-child {
	font-weight: bold;
}

/*-------------------     HORARIO    -------------------*/
.columna {
	flex: 1;
	margin: 0 10px;
}

.columnas{
  display: flex;
	flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

/*-------------------     CONTACTOS    -------------------*/
.contactos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


/*---------------------    SECTION CONTACTO    ----------------------*/
.contact-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 840px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 0;
}

.form-horizontal {
  width: 100%;
  font-family: 'Lato';
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  margin-bottom: 20px; /* added to create space between rows */
}

.form-control,
textarea {
  width: 100%;
  background-color: #2c2c2c;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

button.button {
  margin-top: 15px;
  height: 34px;
  width: 100%;
}

.send-text {
  margin-left: 10px;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/*-------  BUTTON  --------*/
.container {
  text-align: center;
}

button {
  background-color: #407af8;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(31, 98, 245);
}